.about {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.detail {
    position: relative;
    width: 100%;
    /* max-width: 2000px;*/
    display: grid;
    justify-content: center;
    align-items: center;
    /* grid-template-columns:minmax(40px, 1fr)  minmax(25%, 560px) minmax(25%, 560px) minmax(40px, 1fr);*/
    grid-template-columns: 1fr 10% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    scroll-margin-top: 80px;
}

.detail::before {
    content: "";
    position: absolute;
    width: 500px;
    left:25%;
    aspect-ratio: 1/1;
    background-color: var(--tertiary-color);
    z-index: -1;
}

.detail__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    gap: 20px;
    padding: 40px;
    grid-column: 2/4;
    grid-row: 2/4;
    order: 2;
    color: var(--primary-color);
    background-color: white;
    position: relative;
}

.detail__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

.detail__list li {
    list-style: disc;
    padding: 0;
    margin: 0;
}

.detail__image {
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-column: 2/5;*/
    /*background-color:var(--secondary-color);*/
    grid-row: 1/3;
    grid-column: 1/3;
    order: 1;
    position: relative;
}

.detail--twist .detail__content {
    grid-column: 1/3;

}

.detail--twist .detail__image {
    grid-column: 2/4;

}

.about__navigation{
    display: flex;
    justify-content: end;
    width: 100%;
    position: fixed;
    top:50px;
    z-index: 10;
}

.about__navigation ul{
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}