.blog{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
}
.blog__category{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}