.cennik__wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
   /* position: relative;*/
    padding-top: 40px;
    padding-bottom: 40px;
}

.cennik__content{
    display: flex;
}

.cennik__products{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*padding-right: 20px;*/
    width: 100%;
}

.cennik__products-list{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}
.show-calc{
    position: fixed;
    right: 20px;
    top: 90vh;
    display: none;
}

@media screen and ( max-width: 1000px){
    .cennik__products{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-right: 0;
        border-right: none;
    }

}