.cennik__wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

.cennik__content{
    display: flex;
}

.cennik__products, 
.cennik__kalk {
    flex: 1;
}

.cennik__products{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
    border-right: solid 1px rgba(0,0,0,0.1);
}

.cennik__kalk{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
}

.cennik__products-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cennik__sumary  {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-weight: 700;
    font-size: 1.5em;
    width: max-content;
}
