.contact {
    padding-top: var(--space-1) ;
    padding-bottom: var(--space-1) ;
 }
.contact__wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: var(--space-1) 0;
}

.contact__info,
.contact__form {
    flex: 1;
    gap: 20px;
}

.contact__info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    border-right: solid 1px #e0e0e0;
    
}

.contact__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.contact__list li {
    display: flex;
    gap: 10px;
    list-style: none;
}

.contact__list li span:first-child {
    font-weight: 700;
}

.contact__icon {
    width: 30px;
}

.contact__map {
    width: 90%;
    height: 400px;
}

.map {
    width: 100%;
    height: 100%;
    border: none
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding-left: 40px;
}

@media screen and (max-width: 800px) {
    .contact__wrapper {
        flex-direction: column;
        gap: 40px;
    }

    .contact__info,
    .contact__form {
        width: 100%;
    }

    .contact__info {
        border-right: none;

    }

    .contact__map {
        width: 100%;
    }

    .contact__form {
        padding-left: 0px;
    }
}