.contact__wrapper{
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 40px 0;
}
.contact__info,
.contact__form {
    flex: 1;
}

.contact__info{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 20px;
    border-right: solid 1px #e0e0e0;
    
}

.contact__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.contact__list li{
    display: flex;
    gap: 10px;
    list-style: none;
}

.contact__list li span:first-child{
    font-weight: 700;
}

.contact__icon{
    width: 30px;
}

.contact__map{
    width: 90%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.map{
    width: 100%;
    height: 100%;
    border:none
}
.contact__form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 20px;
    padding-left: 40px;
}