.animated-hero {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    /* max-height: 1000px;*/
    /* overflow: clip;*/

}

.animated-hero--large {
    height: 100vh;
    max-height: 1000px;
}

.animated-hero--small {
    height: 60vh;
    max-height: 600px;
}

.animated-hero--small .animated-hero__content {
    padding: 50px;
}

.animated-hero__card {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: all 2s ease;
    opacity: 1;

}

.animated-hero__card--active {
    display: block;
    transition: all 2s ease;
    z-index: 0;
}

.animated-hero__card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    right: 0%;
    opacity: 1;
    transition: all 2s ease;
    transition-delay: 1s;
   /* animation: zoom linear forwards;
    animation-timeline: view();
    animation-range: exit;*/
    transform-origin: top left;
    scale: 1;

}

@keyframes zoom {
    0% {
        transform: translateY(0px);

    }

    80%,
    100% {
        transform: translateY(0%);
        scale: 1.15;
    }

}


.animated-hero__card-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background-color: var(--primary-color-02);
}

.animated-hero__card-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,
            transparent, var(--primary-color-02), var(--primary-color-02) 99%);

    opacity: 0.3;
}


.animated-hero__card-image--active {
    opacity: 0;
    transition: all 2s ease;
}

.animated-hero__card-image--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.animated-hero__card-wrapper {
    width: 100%;
    max-width: 2000px;
    height: 100%;
    margin: 0 auto;
}

.animated-hero__card-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.animated-hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    /* background-color: var(--tertiary-color);*/
    /* border-right: solid 8px var(--primary-color);*/
    /*width: 80%;*/
    height: max-content;
    position: relative;
    opacity: 1;
    transition: left 0.2s ease;
    transition-delay: 1s;
    /* backdrop-filter: blur(7px) grayscale(0.3);*/
    padding: 100px;
    grid-column: 1/4;
    color:var(--quaternary-color);
}

.animated-hero__content-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: clamp(1rem, 10vw, 3.5rem);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
}

.animated-hero__content-title span {
    position: relative;
    height: 100%;
    color:var(--quaternary-color);
}
/*
.animated-hero__content-title span:nth-child(1) {
    -webkit-text-stroke: 3px var(--tertiary-color);
    
    transform: translate(100px, -50px);
    z-index: 1;
    animation: firstSpan linear forwards;
    animation-timeline: scroll();
}
*/
.animated-hero__content-text{
    font-size: 1.2rem;
    font-size: clamp(1rem, 3vw, 1.2rem);
    letter-spacing: 1px;
    text-align: left;
    width: 100%;
}
@keyframes firstSpan {
    0% {}

    50% {
        transform: translate(0px, -700px);
    }
}

.animated-hero__content-title span:nth-child(2) {
   
    /*color: var(--primary-color);*/
    transform: scale(1);
    z-index: 0;
    /*font-style: italic;*/
  /*  opacity: 0.7;*/
    /*animation: midlleSpan linear forwards;
    animation-timeline: scroll();*/
}

@keyframes midlleSpan {
    0% {
        /*transform: translateY(0px);*/
    }

    10%, 100% {
        /* transform: translateY(-300px);*/
        opacity: 0;
        scale: 3;
    }
}

.animated-hero__content-title span:nth-child(3) {
    /*-webkit-text-stroke: clamp(1px, 0.5vw, 4px) var(--tertiary-color);*/
    /* transform: translate(-100px, 50px); */
   /* animation: lastSpan linear forwards;
    animation-timeline: scroll();*/
}

@keyframes lastSpan {
    0% {}

    50% {
        transform: translate(0px, -100px);
    }
}

.animated-hero__dots {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 2;

}

.animated-hero__dot {
    width: 50px;
    height: 3px;
    background-color: var(--quaternary-color);
    border-radius: 20px;
    opacity: 0.5;
    cursor: pointer;
}

.animated-hero__dot:hover,
.animated-hero__dot--active {
    height: 5px;
    opacity: 1;
}

@media screen and (max-width: 500px) {
    .animated-hero__content,
    .animated-hero--small .animated-hero__content {
        
        padding: 0px;
    }
    .animated-hero__content-title{
        flex-direction: column;
        gap: 5px;
    }
}