.animated-hero {
    position: relative;
    width: 100%;
    overflow: hidden;

}

.animated-hero--small {
    height: 80dvh;
    max-height: 1000px;
}

.animated-hero--small .animated-hero__content {
    padding: 0px;
}

.animated-hero__card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.animated-hero__card-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0%;
    opacity: 0;
    z-index: -1;
}

.animated-hero__card-image--active {
    opacity: 1;
}

.animated-hero__card-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* backdrop-filter: blur(3px);*/
    background-color: var(--primary-color-05);
    z-index: 0;
}

.animated-hero__card-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,
            transparent, var(--primary-color-02), var(--primary-color-02) 99%);

    opacity: 0.3;
}



.animated-hero__card-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.animated-hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    height: max-content;
    position: relative;
    color: var(--quaternary-color);
    width: 100%;
}

.animated-hero__content-title,
.animated-hero__text {
    font-weight: 900;
    text-transform: uppercase;
}

.animated-hero__content-title {
    font-size: clamp(1rem, 0.9273rem + 0.3636vw, 1.2rem);
}

.animated-hero__content-text {
    font-size: clamp(2.5rem, 2.1962rem + 1.519vw, 4rem);
    text-align: left;
    width: 30%;
}

.animated-hero__text {
    display: none;
}

.animated-hero__text--active {
    display: block;
    color: var(--tertiary-color);
}

.animated-hero__dots {
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 2;
}

.animated-hero__dot {
    width: clamp(0.625rem, 0.5617rem + 0.3165vw, 0.9375rem);
    height: clamp(0.625rem, 0.5617rem + 0.3165vw, 0.9375rem);
    background-color: var(--quaternary-color);
    opacity: 0.5;
    cursor: pointer;
}

.animated-hero__dot:hover,
.animated-hero__dot--active {
    opacity: 1;
}


@media screen and (max-width: 1100px) {
    .animated-hero__card-content {
        align-items: flex-start;

    }
}
