.blog-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog-wrapper__header{
    display: flex;
    align-items: center;
    gap: 40px;
}
.blog-wrapper__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   
    gap: 20px;
    padding: 40px 0;
}

@media screen and (max-width: 900px){
    .blog-wrapper__cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px){
    .blog-wrapper__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px){
    .blog-wrapper__cards {
        grid-template-columns:1fr;
        padding: 20px 0;
    }
}