.blog-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog-wrapper__header{
    display: flex;
    align-items: center;
    gap: 40px;
}
.blog-wrapper__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: var(--space-1) 0;
}

@media screen and (max-width: 900px){
    .blog-wrapper__cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px){
    .blog-wrapper__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px){
    .blog-wrapper__header{
        gap:0;
        justify-content: space-between;
    }

    .blog-wrapper__cards {
        grid-template-columns:1fr;
        
    }
}