.blogcard {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.blogcard:first-child {
    grid-column: 1/1;

}

.blogcard:hover {
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);*/
}

.blogcard__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;

}

.blogcard__title {
    position: relative;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-color);
    padding-bottom: 20px;
    font-size: clamp(14px, 2vw, 16px);
}

.blogcard__title::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: var(--primary-color);
    bottom: 10px;
    left: 10%;
}

.blogcard__text {
    color: var(--primary-color);
    font-size: clamp(12px, 2vw, 14px);
    padding: 0 10px;
    /*margin-bottom: 20px;*/
}

.blogcard p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0 0 10px 10px;
    padding-bottom: 2px;
}

.blogcard:first-child p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0 0 10px 10px;
    padding-bottom: 2px;
}

.blogcard__image {
    display: flex;
    max-height: 172px;
    aspect-ratio: 265/171;
}

.blogcard__bottom {
    justify-self: end;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* max-height: 3rem;*/
    padding: 10px;
    color: var(--quaternary-color);
    font-weight: 500;
    text-transform: uppercase;
    z-index: 1;
    transition: all 0.5s ease;
    overflow: hidden;
}

.blogcard__category {
    font-size: clamp(10px, 2vw, 14px);
    font-weight: 600;
}

.blogcard__readingTime {
    font-size: clamp(10px, 2vw, 12px);
    text-transform: lowercase;
}

.blogcard:hover .blogcard__bottom {
    color: var(--primary-color);
    transition: all 0.5s ease;
}

.blogcard__bottom::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-color);

    opacity: 1;
    z-index: -2;
}

.blogcard__bottom::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background-color: var(--tertiary-color);
    opacity: 1;
    z-index: -1;
    transition: all 0.5s ease;
}

.blogcard:hover .blogcard__bottom::before {
    top: 0;
    transition: all 0.5s ease;
}

.blogcard__label {
    position: absolute;
    top: 10px;
    left: -10px
}

@media screen and (max-width: 400px) {
    .blogcard {
        display: grid;
        grid-template-areas:
            "left right"
            "bottom bottom";
        gap: 0;
    }

    .blogcard__image {

        aspect-ratio: 1/1;
    }

    .blogcard__content {
        justify-content: center;
        padding: 5px 0;
    }

    .blogcard__title {

        padding-bottom: 30px;

    }

    .blogcard__title::after {

        bottom: 15px;

    }

    .blogcard__bottom {
        grid-area: bottom;
    }
}