.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
  overflow: hidden;
  text-transform: uppercase;
}

.button__text {
  padding: 5px 10px;
  font-size: clamp(0.8rem, 0.7595rem + 0.2025vw, 1rem);
}

.button--icon .button__text {
  padding: 0px 10px;
}

.button__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 0.8987rem + 0.5063vw, 1.5rem);
  height: clamp(1.5rem, 1.3987rem + 0.5063vw, 2rem);
  width: clamp(1.5rem, 1.3987rem + 0.5063vw, 2rem);
  
}

.button--primary {
  border: solid 1px var(--tertiary-color);
  background-color: var(--tertiary-color-03);
  color: var(--quaternary-color);
  transition: all 0.s ease;
}

.button--primary .button__icon {
  background-color: var(--tertiary-color);

}

.button--primary .active,
.button--primary:hover .button__text {
  color: var(--tertiary-color);

}


.button--secondary {
  border: solid 1px var(--primary-color);
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  transition: all 0.5s ease;
}

.button--secondary .button__icon {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.button--secondary.active,
.button--secondary:hover {
  background-color: var(--tertiary-color);
}

.button--tertiary {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  transition: all 0.5s ease;
}

.button--tertiary:hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.button--quaternary {
  border: solid 1px var(--primary-color);
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  transition: all 0.5s ease;
}
.button--quaternary:hover {
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  transition: all 0.5s ease;
}
button:disabled {
  opacity: 0.5;
}