.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0.5rem 0.8rem;
  font-size: clamp(0.8rem, 0.6909rem + 0.5455vw, 1.1rem);
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  border: none;
 /* border-radius: 5px;*/
  overflow: hidden;
}

.button--icon{
  padding: 0.2rem 0.2rem 0.2rem 0.7rem;
  background-color:var(--quaternary-color-08)!important;
  color: var(--secondary-color)!important;
}
.button__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height:30px;
  color: var(--secondary-color);
  font-size:25px;
  background-color: var(--quaternary-color);
}

.button--primary {
  color: var(--quaternary-color);
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
  transition: all 0.s ease;
}
.button--primary .active,
.button--primary:hover {
  background-color: var(--quaternary-color);
  color: var(--primary-color);

}


.button--secondary {
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  transition: all 0.5s ease;
}

.button--secondary.active,
.button--secondary:hover {
  background-color: var(--tertiary-color);
}

.button--tertiary {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  transition: all 0.5s ease;
}

.button--tertiary:hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

button:disabled{
  opacity:0.5;
}