.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  border: none;
 /* border-radius: 5px;*/
  overflow: hidden;
}

.button__icon {
  position: relative;
  left: 0;
  top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  stroke: white;
  fill: white;
  transition: all 0.5s ease;
}

.button:hover .button__icon {
  left: 5px;
  transition: all 0.5s ease;
}

.button--primary {
  color: var(--quaternary-color);
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
  transition: all 0.s ease;
}
.button--primary .active,
.button--primary:hover {
  background-color: var(--quaternary-color);
  color: var(--primary-color);

}


.button--secondary {
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  transition: all 0.5s ease;
}

.button--secondary.active,
.button--secondary:hover {
  background-color: var(--tertiary-color);
}

.button--tertiary {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
  transition: all 0.5s ease;
}

.button--tertiary:hover {
  background-color: var(--tertiary-color);
}

button:disabled{
  opacity:0.5;
}