.colored-wrapper{
    width: 100%;
    position: sticky;
    top: 10vh;
    background-color: white;
    scroll-snap-align: start;
  scroll-margin-top: 20px;
}

.colored-wrapper--gray {
    background-color: rgb(228, 225, 220)
}