.content-block {
    width: 100%;
    padding: 100px 0;
    overflow: hidden;
}

.content-block__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.content-block__content{
    flex: 1;
}

.content-block__heading{
    position:relative;
}
.content-block__heading-line{
    content: '';
    position:absolute;
    width: clamp(0.125rem, 0.0568rem + 0.3409vw, 0.3125rem);
    height: 100%;
    top: 0;
    left: -10px;
    background-color: var(--primary-color);
   
}
.content-block__image {
    position: relative;
    width: 75%;
    min-width: 300px;
    aspect-ratio: 1/1;
    justify-self: end;
    flex: 1;
    z-index:2;
}

.content-block__image::before {
    content: "";
    position: absolute;
    top:-20px;
    bottom: -20px;
    right: 10%;
    left: 10%;
   /* background-color: var(--primary-color);*/
    border: solid clamp(0.3125rem, 0.1989rem + 0.5682vw, 0.625rem) var(--primary-color);
    z-index: -1;
}

.content-block--image-right .content-block__content {
    order: 2;
}

.content-block--image-right .content-block__image {
    order: 1;
    justify-self: start;
}

@media screen and (max-width: 680px){
    .content-block__wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .content-block__image{
        width: 100%;
        max-height: 70vh;
    }

    .content-block__image,
    .content-block--image-right .content-block__image{
        justify-self: center;
    }

    .content-block--image-right .content-block__image {
        order: 2;
    }

}