.faqs-block{
    position:relative;
    z-index: 10;
    width: 100%;
    padding: 80px 0;
    background-color: var(--primary-color);
}

.faqs-block__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
}

.faqs__card{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    flex: 1;
    color: var(--tertiary-color);
}

.faqs__title{
    font-size: clamp(1.8rem, 0.9545rem + 2.7273vw, 3rem);
    font-weight: 700;
}

.faqs__text{
    font-size: clamp(1rem, 0.6545rem + 0.7273vw, 1.2rem);
    text-align: center;
}

@media screen and (max-width: 500px){
    .faqs-block__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}