.form__wrapper {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
}

.form__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    gap: 5px;
    width: 100%;


}

.form__item label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    width: 100%;
    height: 3rem;
    
}
.form__item-text{
    font-size: clamp(0.75rem, 0.7045rem + 0.2273vw, 0.875rem);
    margin-left: 10px;
    color: var(--primary-color);
    font-weight: 700;
}
.form__item  label span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
   
}

.form__item input:not(:placeholder-shown)+span,
.form__item label:focus-within span {
    top: -20px;
    transform: translateY(0%);
    transition: all 0.3s ease;
}


.form__item input {
    border: none;
    outline: none;
    /*border-bottom: 1px solid var(--secondary-color);*/
    background-color: var(--secondary-color-02);
    height: 100%;
}

.form__item input:focus {
    border-bottom: 2px solid var(--primary-color);
}

.form__item input:focus-within label {
    top: 0;
}

.form__address {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.form__address-wrapper {
    width: 100%;
    display: grid;
    gap: 10px;
    row-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 20px;
}

.form__address-wrapper .form__item input {
    width: 80%;
    font-size: 14px;
}

.form__item input,
.form__item textarea {
    width: 50%;
    padding: 10px;
    background-color: var(--secondary-color-02);
}

.form__item textarea {
    width: 100%;
    height: 6rem !important;
    border: none;
    outline: none;
   /* border-bottom: 1px solid var(--secondary-color);*/
    
}

.form__item textarea:focus {
    border-bottom: 2px solid var(--primary-color);
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--primary-color-05);
    z-index: 9999;
}

.modal-content {
    background-color: var(--quaternary-color);
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    color: var(--primary-color);
}

.modal-content p {
    font-weight: 500;
    color: var(--primary-color);
}

.close {
    color: var(--primary-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

input[type="checkbox"] {
    display: none;
}

.checkbox{
    width: 15px;
    height: 15px;
    border: 1px solid var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
input[type="checkbox"]:checked + .checkbox {
    background-color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
   
}
input[type="checkbox"]:checked + .checkbox::before {
    content: "\2713";
    font-size: 12px;
    font-weight: 800;
    color: var(--secondary-color);
}

@media screen and (max-width: 600px) {

    .form__item input,
    .form__item textarea {
        width: 100%;
    }

    .form__address-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .form__address-wrapper .form__item input {
        width: 100%;
    }
}