/* gallery.css */

.gallery__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    z-index:999;
}

.gallery__modal-content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__modal-close {
    color: var(--quaternary-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 992;
}

.gallery__modal-close:hover,
.gallery__modal-close:focus {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.gallery__modal img {
max-width: 90%;
}

.gallery__modal-navigation {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 90%;
    top: 50%;
}

.gallery__modal-navigation button {
    background-color:var(--quaternary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.gallery__modal-navigation button:hover {
    background-color: var(--tertiary-color);
}

.gallery {
    width: 100%;
    height: 100%;
}

.gallery--grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:5px;
    justify-content: center;

}

.gallery--row{
    display: flex;
    
}
.gallery--row .gallery__card {
    flex:1;
}

.gallery__card {
    cursor: pointer; 
    overflow: hidden;
    opacity: 0;
    transform: scale(0.7);
    transition: all 0.5s ease-in-out;
}

.gallery__card.visible {
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.gallery--grid .gallery__card.visible:nth-child(1) {
    grid-column: 1/3;
}

.gallery--grid .gallery__card.visible:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/2;
}

.gallery--grid .gallery__card:nth-child(4) {
    grid-column: 2/4;
    grid-row: 2/3;
}

.gallery__card img {
    width: 100%;
    height:100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
    transition: all 0.5s ease;
}

.gallery__card:hover img {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

@media screen and (max-width: 840px){
    .gallery--row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 60vh;
    }

}
    
