.header {
    position:sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    z-index: 99;
    height:60px;
   /* background-color: var(--primary-color);*/
    transition: all 0.5s ease;
    
}
.header--scrolled{
    background-color:var(--primary-color);
    transition: all 0.5s ease;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}

.navigation__logo{
    color: white;
    font-weight: 900;
    font-size: 15px;
    padding: 0;
}

.navigation__menuItems{
    display: flex;
    align-items: center;
    /*gap: 40px;*/
    height: 100%;
}

.navigation__menuItems li{
    height: 100%;
}

.navigation__menuItems--show{
    display: flex;
}

.menuItem{
    position: relative;
    color:var(--tertiary-color);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 16px;
}

.menuItem::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0px;
    left: 0;
    background-color: var(--quaternary-color);
    transform: scaleX(1);
    transition: all 0.3s ease;
}

.menuItem:hover{
    color:var(--quaternary-color);
    transition: all 0.5s ease;
}

.menuItem:hover::before{
    visibility: visible;
    height: 5px;
    transition: all 0.5s ease;
}

.menuItem--active.menuItem::before{
    height: 100%;
    transform: scaleX(1);
    z-index: -1;
}

.menuItem--active{
    position: relative;
    color:var(--primary-color);
}
.menuItem--active:hover{
    color:var(--primary-color)!important;
}
.navigation__toggleLines{
    display:none;
    flex-direction: column;
    justify-content: space-between;
    height:20px;
    cursor: pointer;
}

.navigation__toggleLine{
    width: 30px;
    height: 2px;
    background-color: white;
}

@media (max-width: 650px){
    .header{
    
    }

    .navigation__menuItems{
        display: none;
    }
    .navigation__menuItems--show{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--primary-color-09);
        padding: 60px 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 100vh;
        z-index: -2;
    }
    .navigation__menuItems--show li{
        width: 100%;
    }
    .menuItem{
        font-size: 20px;
        width: 100%;
    }
    .navigation__toggleLines{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height:20px;
        cursor: pointer;
    }
    .navigation__toggleLine{
        width: 30px;
        height: 2px;
        background-color:var(--tertiary-color);
    }
    .navigation__toggleLines--close .navigation__toggleLine:nth-child(1){
        transform: rotate(45deg) translate(5px, 5px);
    }
    .navigation__toggleLines--close .navigation__toggleLine:nth-child(2){
        display: none;
    }
    .navigation__toggleLines--close .navigation__toggleLine:nth-child(3){
        transform: rotate(-45deg) translate(5px, -5px);
    }
}