.header {
    position:fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    z-index: 99;
    height:60px;
    background-color: rgba(0, 0, 0,0.5);
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__logo{
    color: white;
    font-weight: 900;
    font-size: 15px;
    padding: 0;
}
.navigation__menuItems{
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.navigation__menuItems--show{
    display: flex;
}
.menuItem{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease;
    font-weight: 600;
}

.menuItem:hover{
    color: rgb(165, 156, 107);
    transition: all 0.5s ease;
}

.menuItem--active{
    color: rgb(165, 156, 107);
}

.navigation__toggleLines{
    display:none;
    flex-direction: column;
    justify-content: space-between;
    height:20px;
    cursor: pointer;
}

.navigation__toggleLine{
    width: 30px;
    height: 2px;
    background-color: white;
}

@media (max-width: 768px){
    .navigation__menuItems{
        display: none;
    }
    .navigation__menuItems--show{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        background-color: rgb(0, 0, 0);
        padding: 20px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .menuItem{
        font-size: 20px;
    }
    .navigation__toggleLines{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height:20px;
        cursor: pointer;
    }
    .navigation__toggleLine{
        width: 30px;
        height: 2px;
        background-color: white;
    }
    .navigation__toggleLines--close .navigation__toggleLine:nth-child(1){
        transform: rotate(45deg) translate(5px, 5px);
    }
    .navigation__toggleLines--close .navigation__toggleLine:nth-child(2){
        display: none;
    }
    .navigation__toggleLines--close .navigation__toggleLine:nth-child(3){
        transform: rotate(-45deg) translate(5px, -5px);
    }
}