.header {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    z-index: 99;
    height: 60px;
    transition: all 0.5s ease;
}
.header--transparent{
    background-color:transparent;
}
.header--scrolled,
.header--dark{
    background-color:var(--primary-color)!important;
   
}


.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;  
}

.navigation {
    display: flex;
    /* align-items: center;*/
    height: 100%;
    
}

.header__logo {
    color: var(--quaternary-color);
    font-weight: 900;
    font-size: 15px;
    padding: 0;
}

.navigation__menuItems {
    display: flex;
    /*align-items: center;*/
    /*gap: 40px;*/
    height: 100%;
}

.navigation__menuItems li {
    height: 100%;
}

.navigation__menuItems--show {
    display: flex;
}

.menuItem {
    position: relative;
    color: var(--tertiary-color);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: clamp(0.75rem, 0.7247rem + 0.1266vw, 0.875rem);
}

.menuItem::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0px;
    left: 0;
    background-color: var(--quaternary-color);
    transform: scaleX(1);
    transition: all 0.3s ease;
}

.menuItem:hover {
    color: var(--quaternary-color);
    transition: all 0.5s ease;
}

.menuItem:hover::before {
    visibility: visible;
    height: 5px;
    transition: all 0.5s ease;
}

.menuItem--active.menuItem::before {
    height: 100%;
    transform: scaleX(1);
    z-index: -1;
}

.menuItem--active {
    position: relative;
    color: var(--primary-color);
}

.menuItem--active:hover {
    color: var(--primary-color) !important;
}
.navigation__toggle{
    display: none;
    visibility: hidden;
}
.navigation__toggleLines {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    cursor: pointer;
}

.navigation__toggleLine {
    width: 30px;
    height: 2px;
    background-color: var(--tertiary-color);
}

.header__icons {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100%;
    max-width: max-content;
}

.icon {
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    color: var(--tertiary-color);
    font-size: 1.5rem;
    z-index: 1;
    cursor: pointer;
}

.icon:hover {
    fill: var(--quaternary-color);
    color: var(--quaternary-color);
}

.icon a {
    color: inherit;
    fill: inherit;
    text-decoration: none;
}

.icon-kosik {
    opacity: 0;
    right: -100px;
}

.icon-kosik svg{
    transform: rotateY(180deg);
}

.icon-kosik--view {
    opacity: 1;
    right: 0%;
    transition: all 0.5s ease;
}

.shop-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.8rem;
    height: 0.8rem;
    color: var(--primary-color);
    background-color: var(--quaternary-color);
    font-size: 10px;
    transform: translate(40%, -80%);
    position: absolute;
    z-index: -1;
}

@media (max-width: 850px) {

    .navigation__menuItems {
        display: flex;
        flex-direction: column;
        gap: 0px;
        position: absolute;
        left: -50%;
        background-color: var(--primary-color);
        padding: 60px 0;
        height: 100vh;
        width: 50%;
        z-index: -2;
        transition: all 0.5s ease;
    }

    .navigation__menuItems--show {
        left: 0;
        transition: all 0.5s ease;
    }

    .navigation__menuItems--show li {
        width: 100%;
    }

    .menuItem {
        font-size: 16px;
        width: 100%;
    }

    .navigation__toggle{
        display: block;
        visibility: visible;
    }

    .navigation__toggleLine {
        width: 25px;
        height: 2px;
        background-color: var(--tertiary-color);
    }

    .navigation__toggleLines--close .navigation__toggleLine:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .navigation__toggleLines--close .navigation__toggleLine:nth-child(2) {
        display: none;
    }

    .navigation__toggleLines--close .navigation__toggleLine:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

@media (max-width: 600px){
    .header{
        height: 50px;
    }
}