.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100svh;

}

.hero__card {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: all 2s ease;
    opacity: 1;

}

.hero__card-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0%;
    opacity: 1;
    z-index: -1;
}

.hero__card-image video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__card-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* backdrop-filter: blur(3px);*/
    background-color: var(--primary-color-05);
    z-index: 0;
}

.hero__card-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,
            transparent, var(--primary-color-02), var(--primary-color-02) 99%);

    opacity: 0.3;
}

.hero__card-wrapper {
    width: 100%;
    max-width: 2000px;
    height: 100%;
    margin: 0 auto;
}

.hero__card-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: calc(0.05 * 50vh);
    height: max-content;
    position: relative;
    width: 100%;
    padding: 0px;
}

.hero__content-title,
.hero__content-text {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 70%;
    height: 100%;

}

.hero__content-title {
    font-size: clamp(1.9rem, 1.4747rem + 2.1266vw, 4rem);
    color: var(--tertiary-color);
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.2;
    text-transform: uppercase;
}

.hero__content-text {
    font-size: clamp(1rem, 0.9273rem + 0.3636vw, 1.2rem);
    letter-spacing: 1px;
    text-align: left;

    color: var(--quaternary-color);
}

.hero__content-buttons {
    display: flex;
    gap: 20px;
    width: 100%;
}

.hero__scroll-down {
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    /*border: 1px solid var(--tertiary-color);*/
    color: var(--tertiary-color);
    animation: arrowSrcoll 1.5s infinite;
}

@keyframes arrowSrcoll {
    0% {
        transform: translate(-50%, 0px);
    }

    50% {
        transform: translate(-50%, 10px);
    }

    100% {
        transform: translate(-50%, 0px);
    }
}


@media screen and (max-height: 630px) {
    .hero__card-content {
        align-items: flex-start;
        padding-top: 80px;

    }

}

@media screen and (max-width: 620px) {
    .hero__scroll-down {
        bottom: 7rem;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        height: max-content;
        position: relative;
        padding: 0px;
    }

    .hero__content-title,
    .hero__content-text {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .hero__scroll-down {
        bottom: 5.5rem;

    }
}

@media screen and (max-width: 500px) {

    .hero__content,
    .hero--small .hero__content {

        padding: 0px;
    }

}