.menuItem{
    display: inline-block;
    color:#DBE7C9;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease;
    font-weight: 600;
}

.menuItem:hover{
    color: rgb(165, 156, 107);
    transform: translateY(-5px);
    transition: all 0.5s ease;
}

.menuItem:active{
    color: rgb(165, 156, 107);
}