.product__card{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
   /* border-radius: 10px;*/
    border: solid 1px var(--tertiary-color);
    background-color: white;
    perspective: 1000px;
}

.product__card__description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.product__card img {
    width: 100%;
    max-width: 100px;
   /* border-radius: 10px;*/
}

.product__add{
    position: absolute;
    left: -11px;
    /*background-color: var(--primary-color);
    color: var(--quaternary-color);
    padding: 10px;
    border: none;
    font-size: 10px;
    font-weight: 600;*/
    opacity: 0;
    transition: transform 0.3s ease-in-out,
        opacity 0.2s 0.1s ease-in-out;
    transform: rotateY(-90deg);
    transform-origin: 10px 50px;
    transform-style: preserve-3d;
}
.product__add--anim{
    top:10px;
    opacity: 1;
    transform: rotateY(0deg);
    transition:transform 0.3s ease-in-out;
}
/*
.product__add::before{
    content: '';
    position: absolute;
    top: 2px;
    left: -20px;
    width: 20px;
    height: 20px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid var(--primary-color-05);

}
    */