.product__card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
   /* border-radius: 10px;*/
    border: solid 1px var(--tertiary-color);
    background-color: white;
}

.product__card__description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.product__card img {
    width: 100%;
    max-width: 100px;
   /* border-radius: 10px;*/
}