.services-block {
    width: 100%;
    padding: 100px 0;
    background-color: var(--primary-color);
    position: relative;
}

.services-block__wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    z-index: 1;
    
}

.services-block__wrapper::after{
    content: 'Služby';
    font-size: clamp(4rem, 2.3797rem + 8.1013vw, 12rem);
    font-weight: 900;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 10px;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.3;
    color: var(--secondary-color);
}

.services-block__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 1;
    
}
.services__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all 1s ease;
}

.services__card-svg{
    display: none;
}

.services__icon {
   display: flex;
    align-items: center;
    color: var(--tertiary-color);
    font-size: 5rem;
    transition: all 1s ease;
}

.services__title {
    display: flex;
    align-items: center;
    flex: 1;
    color: var(--tertiary-color);
    font-size: clamp(1rem, 0.6545rem + 0.7273vw, 1.2rem);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    text-align: center;
    opacity: 0;
    transform: translateY(-50%);
    transition: all 1s ease;

}
.services-block--inView .services__title {
    opacity: 1;
    transform: translateY(0%);
}
@keyframes title {
    0% {
        opacity: 0;
        transform: translateY(0%);
    }
    20%,
    100% {
        opacity: 1;
        transform: translateY(25%);
    }

}

.services__card:hover .services__icon,
.services__card:hover .services__title {
    color: var(--quaternary-color);
    transition: color 0.5s ease;
}



@media screen and (max-width: 700px) {
    .services-block__list {
        display: grid;
        grid-template-columns:1fr 1fr;
        gap: 40px;
    }

    .services-block__wrapper::after{
        align-items: start;
        top: -6rem;
    }
}


.services__card-svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    z-index: 0;
  /*  animation: fadeout ease forwards;
    animation-timeline: scroll();
*/
}
.services-block--inView .services__card-svg{
    opacity: 0;
}
.services__card-svg svg {
    fill: var(--tertiary-color-03);
    stroke: var(--tertiary-color);

}

.services-block__button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    z-index: 2;
}
