.services-block {
    width: 100%;
    margin-top: -5rem;
}

.services-block__wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.services__card {
    position: relative;
    flex: 1;
    /*height: 18rem;*/
    aspect-ratio: 1/1;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 0 10px var(--primary-color);
}


.service__card-image {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}

.services__card:hover .service__card-image {
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.service__card-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    opacity: 0.3;
    z-index: 1;
    transition: all 0.5s ease;
}

.services__card:hover .service__card-image::before {
    opacity: 0.1;
    transition: all 0.5s ease;
}

.services__card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    gap: 20px;
    z-index: 2;
    backdrop-filter: blur(1.5px) sepia(0.3);
    transition: all 0.5s ease;
}

.services__card:hover .services__card-content {
    backdrop-filter: blur(0) sepia(0);
    transition: all 0.5s ease;
}

.services__title {
    color: var(--quaternary-color);
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 0 10px;
}

.services__bottom{
    position: relative;
    display: flex;
    justify-content: center;
    padding:10px 0;
    color: var(--quaternary-color);
    font-weight: 500;
    text-transform: uppercase;
    z-index: 1;
    transition: all 0.5s ease;
}

.services__card:hover .services__bottom{
    color: var(--primary-color);
    transition: all 0.5s ease;
}

.services__bottom::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background-color: var(--primary-color);
    opacity: 1;
    z-index: -2;
}

.services__bottom::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:100%;
    background-color: var(--tertiary-color);
    opacity: 1;
    z-index: -1;
    transition: all 0.5s ease;
}

.services__card:hover .services__bottom::before{
    top:0;
    transition: all 0.5s ease;
}

@media screen and (max-width: 1000px) {

    .services-block__wrapper {
        gap: 5px;
    }

    .services__title {
        font-size: 1.5rem;
    }

    .services__bottom {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .services__card {
        /*height: 18rem;*/
        aspect-ratio: 1/1;
        
    }

    .services__title {
        font-size: 1rem;
    }

    .services__bottom {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 650px){
    .services-block__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}