.services-block {
    width: 100%;
    padding: 100px 0;
    background-color: var(--primary-color);
    position: relative;
}

.services-block__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 3;
}

.services__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all 1s ease;
}

.services__card-svg{
    display: none;
}

.services__icon {
   display: flex;
    align-items: center;
    color: var(--tertiary-color);
    font-size: 5rem;
    transition: all 1s ease;
}

.services__title {
    display: flex;
    align-items: center;
    flex: 1;
    color: var(--tertiary-color);
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    text-align: center;
    opacity: 0;
    transform: translateY(-50%);
    transition: all 1s ease;

}
.services-block--inView .services__title {
    opacity: 1;
    transform: translateY(0%);
}
@keyframes title {
    0% {
        opacity: 0;
        transform: translateY(0%);
    }
    20%,
    100% {
        opacity: 1;
        transform: translateY(25%);
    }

}

.services__card:hover .services__icon,
.services__card:hover .services__title {
    color: var(--quaternary-color);
    transition: color 0.5s ease;
}



@media screen and (max-width: 650px) {
    .services-block__wrapper {

        gap: 0;
        column-gap: 0px;
    }
}


.services__card-svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    z-index: 0;
  /*  animation: fadeout ease forwards;
    animation-timeline: scroll();
*/
}
.services-block--inView .services__card-svg{
    opacity: 0;
}
.services__card-svg svg {
    fill: var(--tertiary-color-03);
    stroke: var(--tertiary-color);

}

.services-block__button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
}

@media screen and (max-width: 850px) {
   

    .services__title {
        font-size: 0.7rem;
    }

    .services__icon {
        font-size: 2.5rem;
    }
}
