.services-detail-block {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--quaternary-color);
}

.services-detail-block:nth-child(odd) {
    background-color: var(--secondary-color-02);
}

.services-detail-block:last-child{
    scroll-margin-top: 20px;
}

.services-detail-block__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 100px 0;
}

.services-detail-block__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 0 40px 0 40px;
    order: 2;
    color: var(--primary-color);
    position: relative;
    overflow: hidden;
}

.services-detail-block__title {
    position: relative;
}

.services-detail-block__title-row {
    position: absolute;
    width: 50%;
    height:clamp(0.125rem, 0.0568rem + 0.3409vw, 0.3125rem);
    bottom: -20px;
    left: 0;
    background-color: var(--primary-color);
    z-index: 1;
}

.services-detail-block__buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services-detail-block__gallery {
    display: flex;
    justify-content: center;
    order: 1;
    position: relative;
    overflow: hidden;
}

.services-detail-block:nth-child(odd) .services-detail-block__content {
    order: 1;
}

.services-detail-block:nth-child(odd) .services-detail-block__gallery {
    order: 2;
}

.services-detail-block__divider {
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0;
    bottom: 10%;
    opacity: 1;
    z-index: -2;
}

@media screen and (max-width: 900px) {
    .services-detail-block__wrapper {
        grid-template-columns: 1fr;
        padding: 50px 0;
    }

    .services-detail-block__wrapper::before {
        width: 100%;
        height: 25%;
        top: -20px;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .services-detail-block__content {
        padding: 20px;
    }

    .services-detail-block__gallery {
        max-height: 600px;
        margin: 0;
    }

    .services-detail-block__content,
    .services-detail-block:nth-child(odd) .services-detail-block__content {
        order: 1;
    }

    .services-detail-block__gallery,
    .services-detail-block:nth-child(odd) .services-detail-block__gallery {
        order: 2;

    }

    .services-detail-block:nth-child(odd) .services-detail-block__wrapper::before {
        left: 0px;
    }
}
