.services-block {
    width: 100%;
    padding: 40px 0;
    background-color: transparent;
    animation: color ease forwards;
    animation-timeline: scroll(root);

}

@keyframes color {

    1%,
    100% {
        background-color: var(--primary-color);
    }
}

.services-block__wrapper {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 3;
}

.services__card {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
    width:8rem;
    height: 8rem;
    aspect-ratio: 1/1;
}

.services__card:nth-child(1) {
    transform: translateY(-150%);
    animation: moveDoun ease forwards;
    animation-timeline: scroll();
}

.services__card:nth-child(2) {
    transform: translateY(-220%);
    animation: moveDoun ease forwards;
    animation-timeline: scroll();
}

.services__card:nth-child(3) {
    transform: translateY(-220%);
    animation: moveDoun ease forwards;
    animation-timeline: scroll();
}

.services__card:nth-child(4) {
    transform: translateY(-150%);
    animation: moveDoun ease forwards;
    animation-timeline: scroll();
}

@keyframes moveDoun {

    8%,
    100% {
        transform: translateY(0%);
    }
}

.services__icon {
    flex: 1;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    color: var(--tertiary-color);
    font-size: 4rem;
    transition: all 0.5s ease;
    animation: icon ease forwards;
    animation-timeline: scroll(root);
}
@keyframes icon {
    
    20%,
    100% {
        top:0;
        transform: translateY(0%);
    }

}
.services__title {
    display: flex;
    align-items: center;
    flex: 1;
    color: var(--tertiary-color);
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    text-align: center;
    opacity: 0;
    animation: title ease forwards;
    animation-timeline: scroll();
    transition: all 0.5s ease;

    
    
}

@keyframes title {
    0% {
        opacity: 0;
        transform: translateY(0%);
    }
    20%,
    100% {
        opacity: 1;
        transform: translateY(25%);
    }

}

.services__card:hover .services__icon,
.services__card:hover .services__title {
    color: var(--quaternary-color);
    transition: all 0.5s ease;
}



@media screen and (max-width: 650px) {
    .services-block__wrapper {

        gap: 0;
        column-gap: 0px;
    }
}


.services__card-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 0;
    animation: fadeout ease forwards;
    animation-timeline: scroll(root);

}

.services__card-svg svg {
    fill: var(--tertiary-color-03);
    stroke: var(--tertiary-color);

}

@keyframes fadeout {

    8%,
    100% {
        opacity: 0;
        transform: translateY(-400%);
    }
}

@media screen and (max-width: 850px) {
    .services__card {
        width: 6rem;
        height: 6rem;
    }

    .services__title {
        font-size: 0.7rem;
    }

    .services__icon {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 470px) {
    .services__card {
        width: 5rem;
        height: 5rem;
    }

    
}