.services-detail-block {
    position: relative;
    width: 100%;
    scroll-margin-top: 60px;
  /* height: 100vh;*/
    display: flex;
    justify-content: center;
    /* background-color: var(--quaternary-color);*/
    
    transform-origin: center left;
}

/*
.services-detail-block::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: black;
    top: 25%;
    left: -25%;
    animation: rotate linear forwards;
    animation-timeline: view();
}
    */
/*
.services-detail-block:nth-child(even){
    background-color: var(--quaternary-color)
}
*/
.services-detail-block__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    /* max-width: 2000px;*/
    display: grid;
    /* justify-content: center;
    align-items: center;*/
    /* grid-template-columns:minmax(40px, 1fr)  minmax(25%, 560px) minmax(25%, 560px) minmax(40px, 1fr);*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 100px 0;
    

}
@keyframes rotate {
    0% {
      transform: rotate(-270deg);
    }
    10% {
        transform: rotate(-360deg);
      }
    
      90%, 100% {
        transform: rotate(-450deg);
      
      }
  }
.services-detail-block__wrapper::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 100%;
    top: 0%;
    background-color: var(--primary-color);
    z-index: 0;
    overflow: hidden;
}
.services-detail-block__wrapper::after {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    height:60px;
    bottom: -30px;
    left: 20%;
    right: 20%;
    background-color: var(--primary-color);
    z-index: 0;
    overflow: hidden;
}
.services-detail-block:last-child .services-detail-block__wrapper::after{
    display: none;
}
.services-detail-block:nth-child(even) .services-detail-block__wrapper::before {
    left: 20%;
}

.services-detail-block:nth-child(odd) .services-detail-block__wrapper::before {
    right: 20%;
}

.services-detail-block__content {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    order: 2;
    color: var(--primary-color);
    background-color: white;
    position: relative;
    /* border-radius: 10px;*/
    overflow: hidden;

}

.services-detail-block__title {
    position: relative;
}

.services-detail-block__title::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 5px;
    bottom: -20px;
    left: 0;
    background-color: var(--primary-color);
}

.services-detail-block ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

.services-detail-block li {
    list-style: disc;
    padding: 0;
    margin: 0;
}

.services-detail-block__buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services-detail-block__gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    /*max-height:600px;*/
    /* grid-column: 2/5;*/
    /*background-color:var(--secondary-color);*/

    order: 1;
    position: relative;
    /*border-radius: 10px;*/
    overflow: hidden;
}

.services-detail-block:nth-child(odd) .services-detail-block__content {
    order: 1;

}

.services-detail-block:nth-child(odd) .services-detail-block__gallery {
    order: 2;

}


.services-detail-block__divider {
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0;
    bottom: 10%;
    /* background-color: var(--secondary-color);*/
    opacity: 1;
    z-index: -2;
}

@media screen and (max-width: 900px) {
    .services-detail-block__wrapper {
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr;*/
    }

    .services-detail-block__wrapper::before {
        width: 100%;
        height: 25%;
        top: -20px;
        bottom: 0;
        left: 0;
        right: 0;
    }


    .services-detail-block__gallery {
        max-height: 600px;
        margin: 0 -40px;
    }

    .services-detail-block__content,
    .services-detail-block:nth-child(odd) .services-detail-block__content {
        order: 1;
    }

    .services-detail-block__gallery,
    .services-detail-block:nth-child(odd) .services-detail-block__gallery {
        order: 2;

    }

    .services-detail-block:nth-child(odd) .services-detail-block__wrapper::before {
        left: 0px;
    }
}