.small-hero{
    padding: clamp(3.75rem, 3.2437rem + 2.5316vw, 6.25rem) 0;
    width: 100%;
    background-color: var(--primary-color);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}

.small-hero__wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.small-hero__bg{
    position: absolute;
    left: var(--space-1);
    margin-left: calc( var(--space-1) * -0.3);
    z-index: 0;
    color: var(--tertiary-color);
    transform: translateY(-50%);
    font-size: clamp(4.5rem, 2.981rem + 7.5949vw, 11.3rem);
    font-weight: 900;
    opacity:0.1;
    
}

.small-hero__heading {
    width: 70%;
    color: var(--tertiary-color);
    z-index: 1;
}

.small-hero__text{
    width: 70%;
    color: var(--quaternary-color);
    z-index: 1;
}

.small-hero__heading{
    text-transform: uppercase;
}

@media screen and (max-width: 700px) {
    .small-hero{
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }

    .small-hero__bg{
        position: absolute;
        left: var(--space-1);
        z-index: 0;
        color: var(--tertiary-color);
        transform: translateY(-25%);
        font-size: clamp(4.5rem, 2.981rem + 7.5949vw, 11.3rem);
        line-height: 1;
        font-weight: 900;
        opacity:0.2;
        
    }

    .small-hero__text{
        width: 100%;
    }
}