* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  
  --primary-color: rgb(52, 52, 52);
  --primary-color-095: rgba(52, 52, 52, 0.95);
  --primary-color-09: rgba(52, 52, 52, 0.9);
  --primary-color-07: rgba(52, 52, 52, 0.7);
  --primary-color-05: rgba(52, 52, 52, 0.5);
  --primary-color-02: rgba(52, 52, 52, 0.2);
  --secondary-color:rgb(142, 139, 130);
  --secondary-color-02:rgba(142, 139, 130, 0.2);
  --tertiary-color:rgb(233, 220, 190);
  --tertiary-color-07:rgba(233, 220, 190,0.7);
  --tertiary-color-03:rgba(233, 220, 190,0.3);
  --tertiary-color-01:rgba(233, 220, 190,0.1);
  --quaternary-color:rgb(243, 243, 243);
  --quaternary-color-05:rgba(243, 243, 243,0.5);
  --quaternary-color-08:rgba(243, 243, 243,0.8);
 
  --font-size-1: clamp();
  --font-size-2: clamp(0.875rem, 0.8244rem + 0.2532vw, 1.125rem);
  --font-size-3: clamp(1rem, 0.8987rem + 0.5063vw, 1.3rem);
  --font-size-4: clamp(1.125rem, 1.0997rem + 0.1266vw, 1.35rem);

  --space-1: clamp(1.25rem, 0.9968rem + 1.2658vw, 2.5rem); /* 40 -20*/
  --space-2: clamp(1.875rem, 1.4968rem + 1.2658vw, 3.75rem); /* 60 -30*/
  --space-3: clamp(2.5rem, 1.9968rem + 1.2658vw, 5rem); /* 80 -40*/
  --space-4: clamp(3.75rem, 3.2437rem + 2.5316vw, 6.25rem); /* 100 -60*/

 
}

body {
  position: relative;
  max-width: 2500px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}


ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--space-1);
}

.app__order-block {
  display: block;
}
