* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  
  --primary-color: rgb(52, 52, 52);
  --primary-color-09: rgba(52, 52, 52, 0.9);
  --primary-color-05: rgba(52, 52, 52, 0.5);
  --primary-color-02: rgba(52, 52, 52, 0.2);
  --secondary-color:rgb(142, 139, 130);
  --secondary-color-02:rgba(142, 139, 130, 0.2);
  --tertiary-color:rgb(233, 220, 190);
  --tertiary-color-07:rgba(233, 220, 190,0.7);
  --tertiary-color-03:rgba(233, 220, 190,0.3);
  --tertiary-color-01:rgba(233, 220, 190,0.1);
  --quaternary-color:rgb(243, 243, 243);
  --quaternary-color-05:rgba(243, 243, 243,0.5);
  --quaternary-color-08:rgba(243, 243, 243,0.8);
  /*
  --primary-color:rgb(133, 96, 63);
  --primary-color-09: rgba(133, 96, 63, 0.9);
  --primary-color-05: rgba(133, 96, 63, 0.5);
  --primary-color-02: rgba(133, 96, 63, 0.2);
  --secondary-color:rgb(158, 117, 64);
  --tertiary-color:rgb(189, 147, 84);
  --quaternary-color:rgb(227, 209, 138);
  --quaternary-color-05:rgba(227, 209, 138,0.5);
  */
  --font-size-1: clamp(0.75rem, 0.6591rem + 0.4545vw, 1rem);

}

body {
  position: relative;
  overflow-x:clip;
 /* background-color: #DBE7C9;
 background-color: var(--tertiary-color-05);
*/
  font-family: 'Poppins', sans-serif;

}


ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
.app__order-block {
  display: block;
}
/*
@media screen and (max-width: 1000px){
  .app__order-block {
    
    display: block;
  }
}
  */
@media screen and (max-width: 840px){
  .container {
    padding: 0 20px;
  }
}